body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

nav {
    background-color: #007bff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.page {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

input, textarea, button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#searchResults {
    margin-top: 2rem;
    text-align: left;
}


/* Estilo de la animación de carga */
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tarjeta de candidato */
.candidate-card {
    background: #fff;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.candidate-score {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

.candidate-text {
    font-size: 14px;
    color: #666;
}

.show-more-btn {
    background-color: #1dc354;
    color: white;
    border: none;
    padding: 6px 10px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.show-more-btn:hover {
    background-color: #149926;
}

/* Estilo del spinner de carga */
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Botón deshabilitado */
#uploadButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* DropDonw */
.styled-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.styled-dropdown:hover {
    border-color: #007BFF;
    background-color: #f8f9fa;
}

.styled-dropdown:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}